<mat-sidenav-container class="example-container" [hasBackdrop]="true">
    <mat-sidenav-content style="min-height: 80vh; margin-top: -8px;">
        <div class="ml-8 mr-8 mt-8 pb-16">

            <div class="biruni-action-toolbar">

                <button mat-icon-button color="primary" (click)="newItemDialog()" style="margin-left:10px;">
                    <mat-icon>add</mat-icon>
                </button>

                <button mat-icon-button color="primary" (click)="sidenav.toggle()" style="margin-left:10px;">
                    <mat-icon>filter_list</mat-icon>
                </button>

                <button mat-icon-button color="primary" (click)="downloadData()" style="margin-left:10px;">
                    <mat-icon>download</mat-icon>
                </button>

                <!--<button mat-icon-button color="primary" (click)="sidenav.toggle()" style="margin-left:10px;">
                    <mat-icon>upload</mat-icon>
                </button>-->
            </div>

            <div class="mat-elevation-z8" [hidden]="this.showSpinner">
                <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                    <ng-container matColumnDef="Actions">
                        <mat-header-cell *matHeaderCellDef> {{'GENERAL.ACTIONS' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button mat-icon-button matTooltip="Click to Edit" (click)="editItemDialog(row)" class="iconbutton">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Click to Delete" (click)="delete(row)" class="iconbutton">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="companyId">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY.COMPANYID' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="CompanyId"> {{row.companyId}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="companyName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY.COMPANYNAME' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="CompanyName"> {{row.companyName}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="logo">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY.LOGO' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="Logo"> {{row.logo}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY.ADDRESS' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="Address"> {{row.address}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY.PHONE' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="Phone"> {{row.phone}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY.EMAIL' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="Email"> {{row.email}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="website">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY.WEBSITE' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="Website"> {{row.website}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="taxAuthority">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY.TAXAUTHORITY' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="TaxAuthority"> {{row.taxAuthority}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="taxNumber">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY.TAXNUMBER' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="TaxNumber"> {{row.taxNumber}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="updatedDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY.UPDATEDDATE' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="UpdatedDate"> {{row.updatedDate | date:'yyyy-MM-dd HH:mm:ss'}} </mat-cell> 
</ng-container>

<ng-container matColumnDef="updatedUser">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY.UPDATEDUSER' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="UpdatedUser"> {{row.updatedUser}}</mat-cell> 
</ng-container>


                    <ng-container matColumnDef="updatedUserText">
                        <mat-header-cell *matHeaderCellDef > {{'COMPANY.UPDATEDUSERTEXT' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="UpdatedUser"> {{row.updatedUserText}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>
                <mat-paginator [length]="this.queryInfo.pager.totalCount"
                               [pageSize]="this.queryInfo.pager.pageSize"
                               (page)="pageEvent=$event; onPaginateChange($event)"
                               [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
            </div>
            <mat-spinner *ngIf="this.showSpinner === true" style="margin:0 auto; margin-top:150px;"></mat-spinner>
        </div>
    </mat-sidenav-content>

    <mat-sidenav #sidenav mode="over"
                 class="biruni-filter-sidebar" position="end">

        <div style="margin-bottom:10px;">
            <button mat-raised-button color="primary" (click)="filterData()" [style.width.%]="45" style="margin-right:10px;">{{'GENERAL.FILTER' | translate}}</button>
            <button mat-raised-button color="warn" (click)="clearFilter()" [style.width.%]="45">{{'GENERAL.CLEARFILTER' | translate}}</button>
        </div>

        <mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'COMPANY.COMPANYID'| translate}}</mat-label>
    <input matInput type="number" [(ngModel)]="filter.companyId">
</mat-form-field>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'COMPANY.COMPANYNAME'| translate}}</mat-label>
    <input matInput type="text" [(ngModel)]="filter.companyName">
</mat-form-field>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'COMPANY.LOGO'| translate}}</mat-label>
    <input matInput type="text" [(ngModel)]="filter.logo">
</mat-form-field>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'COMPANY.ADDRESS'| translate}}</mat-label>
    <input matInput type="text" [(ngModel)]="filter.address">
</mat-form-field>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'COMPANY.PHONE'| translate}}</mat-label>
    <input matInput type="text" [(ngModel)]="filter.phone">
</mat-form-field>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'COMPANY.EMAIL'| translate}}</mat-label>
    <input matInput type="text" [(ngModel)]="filter.email">
</mat-form-field>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'COMPANY.WEBSITE'| translate}}</mat-label>
    <input matInput type="text" [(ngModel)]="filter.website">
</mat-form-field>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'COMPANY.TAXAUTHORITY'| translate}}</mat-label>
    <input matInput type="text" [(ngModel)]="filter.taxAuthority">
</mat-form-field>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'COMPANY.TAXNUMBER'| translate}}</mat-label>
    <input matInput type="text" [(ngModel)]="filter.taxNumber">
</mat-form-field>
<div>
   <mat-form-field [style.width.%]="45" appearance="legacy">
       <mat-label>{{'COMPANY.CREATEDDATE'| translate}}</mat-label> 
       <input matInput [matDatepicker]="createdDatepicker" [(ngModel)]="filter.createdDate">
       <mat-datepicker-toggle matSuffix [for]="createdDatepicker"></mat-datepicker-toggle>
       <mat-datepicker #createdDatepicker></mat-datepicker>
   </mat-form-field>
   &nbsp;
   <mat-form-field [style.width.%]="45" appearance="legacy">
       <mat-label>{{'COMPANY.CREATEDDATE'| translate}}</mat-label>
       <input matInput [matDatepicker]="createdDate2picker" [(ngModel)]="filter.createdDate2">
       <mat-datepicker-toggle matSuffix [for]="createdDate2picker"></mat-datepicker-toggle>
       <mat-datepicker #createdDate2picker></mat-datepicker>
   </mat-form-field>
</div>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'COMPANY.CREATEDUSER'| translate}}</mat-label>
    <input matInput type="number" [(ngModel)]="filter.createdUser">
</mat-form-field>

       
    </mat-sidenav>
</mat-sidenav-container>
