.quality-control-status-1 {
    background-color: yellow;
    color: black;
    text-align: center;
    font-weight: bold;
    display: block;
    padding-top: 14px;
    height: 36px;
    min-height: 36px;
}

.quality-control-status-2 {
    background-color: green;
    color: white;
    text-align: center;
    font-weight: bold;
    display: block;
    padding-top: 14px;
    height: 36px;
    min-height: 36px;
}

.quality-control-status-3 {
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bold;
    display: block;
    padding-top: 14px;
    height: 36px;
    min-height: 36px;
}
